@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #737373;
}

/*Header */

.header-container {
    height: 100vh;
    width: 100vw;
    background-color: #bde9d4;
    background-image: ;
}