@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #737373;
}

/*Header */

.header-container {
    height: 100vh;
    width: 100vw;
    background-color: #bde9d4;
    background-image: url('./img/thaistlsantos.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;

}

h1 {
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h2 {
    font-size: 30px;
    letter-spacing: 4px;
}

h3 {
    letter-spacing: 4px;
}

.social-media {
    margin: 1rem;
    display: flex;
}

.social-media a{
    text-decoration: none;
    color:black;
    padding: 1rem 4rem;
    border: 1px #737373 solid;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}
a:hover{
    background-color: #737373;
}

